.management{
    display: flex;
    width: 30%;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 0px 10px 10px grey;
    border-radius: 10px;
    align-items: center;
    padding: 40px;
  }

  
  
  